<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />  
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
	<style>
	        body {
	                background-color: DarkGray;
	        }
	        #controlPanel {
	
	        }
	        #messagesList {
	                list-style-type: none;
	                padding: 0;
	                position: absolute;
	                height: 100%;
	                width: 50%;
	                background-color: Gray;
	                right: 0;
	                top: 0;
			margin: 0;
	                max-height: 100%;
	                overflow-y: scroll;
	        }
		span.ready { color: green; }
		span.notready { color: red; }
	</style>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
